<%- model_class = InformacionAcademica -%>
<div class="page-header">
  <h1>Informaciones Académicas</h1>
</div>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Tipo</th>
      <th>Nombre</th>
      <th>Fecha Terminación</th>
      <th>Titulo Obtenido</th>
      <th>Usuario</th>
      <th>Opciones</th>
    </tr>
  </thead>
  <tbody>
    <%= render @informaciones_academicas %>
  </tbody>
</table>
<%= link_to image_tag('nuevo.png',),  new_informacion_academica_path,  :remote => true, :rel => "tooltip", :title => "Ingresar nueva Información Académica", :class => "btn btn-link " %>