<%- model_class = EstudiosComplementario -%>
<div class="page-header">
  <h1>Estudio Complementario</h1>
</div>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Nombres</th>
      <th>Entidad</th>
      <th>Fecha Terminacion</th>
      <th>Intensidad Horaria</th>
      <th>Usuario</th>
      <th>Opciones</th>
    </tr>
  </thead>
  <tbody>
    <%= render @estudios_complementarios %>
  </tbody>
</table>
<%= link_to image_tag('nuevo.png',),  new_estudios_complementario_path,  :remote => true, :rel => "tooltip", :title => "Ingresar nuevo Estudio Complementario", :class => "btn btn-link " %>