<div class="responsive">

    <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="$.lazybox.close()">&times;</button>
         <h3>Datos Sugerencias</h3>
    </div>

    <div class="modal-body">

        <p id="notice"><%= notice %></p>

      
        <table class="table table-striped table-condensed">
            <tr>
               <td><b class="pull-right">Nombre: </b></td>
               <td><%= @profesion.nombre %></td>
               <td><b class="pull-right">descripcion: </b></td>
               <td><%= @profesion.descripcion %></td>
            </tr>
           
            
        </table>

        <div class="modal-footer">
            <a href="#" class="btn" onclick="$.lazybox.close()">Cerrar</a>
        </div>

    </div>
    
</div>
