<%- model_class = ProfesionesUsuario -%>
<div class="page-header">
  <h1>Profesiones Usuarios</h1>
</div>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>usuario_id</th>
      <th>profesion_id</th>
      <th>Opciones</th>
    </tr>
  </thead>
  <tbody>
   <%= render @profesiones_usuarios %>
 </tbody>
</table>
<%= link_to image_tag('nuevo.png',),  new_profesiones_usuario_path,  :remote => true, :rel => "tooltip", :title => "Ingresar Nueva Profesion Usuario", :class => "btn btn-link " %>